@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header, th, #main_radio {
    font-family: 'ONE-Mobile-POP';
}
body {
    background-color: #E0ECE4;
}
header {
    width: 340px; height: 70px;
    text-align: center; margin: auto;
}
h1{
    font-size: 50px;
    color: #FF4B5C;
    margin-top: 60px;
    letter-spacing: 10px;
    text-shadow: 2px 2px #66BFBF;
    text-decoration: overline;
}
main {
    min-height: 350px;
    margin-top: 30px;
}
#table_button {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 290px; height: 340px;
    margin: auto; margin-top: 10px;
    text-align: left;
}
th {
    color: #056674;
    padding: 10px;
}
td {
    padding-left: 50px;
}
.input-css{
    border-radius: 10px;
    width: 130px;
}
.btn-jittery {
    -webkit-animation: jittery 4s infinite;
            animation: jittery 4s infinite;
            position: relative;
            border: none;
            display: inline-block;
            padding: 10px 30px;
            border-radius: 15px;
            font-family: 'ONE-Mobile-POP';
            text-decoration: none;
            font-weight: 600;
            transition: 0.25s;
            background: #FF4B5C;
            color: white;
}
.btn-jittery:hover{
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
@-webkit-keyframes jittery {
    5%, 50% {transform: scale(1);}
    10% {transform: scale(0.9);}
    15% {transform: scale(1.15);}
    20% {transform: scale(1.15) rotate(-5deg);}
    25% {transform: scale(1.15) rotate(5deg);}
    30% {transform: scale(1.15) rotate(-3deg);}
    35% {transform: scale(1.15) rotate(2deg);}
    40% {transform: scale(1.15) rotate(0);}
  }
@keyframes jittery {
    5%, 50% {transform: scale(1);}
    10% {transform: scale(0.9);}
    15% {transform: scale(1.15);}
    20% {transform: scale(1.15) rotate(-5deg);}
    25% {transform: scale(1.15) rotate(5deg);}
    30% {transform: scale(1.15) rotate(-3deg);}
    35% {transform: scale(1.15) rotate(2deg);}
    40% {transform: scale(1.15) rotate(0);}
  }
p {
    margin-bottom: 20px;
}
#main_radio{
    margin: auto;
    width: 350px; height: 100px;
    text-align: center; color: #056674;
    border: 5px solid #66BFBF; border-radius: 50px; border-style: inset;
}
span {
    vertical-align: middle;
    color: #FF4B5C;
}
label {
    font-size: 20px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
  }
[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
    
}
[type="radio"]:checked {
    border: 0.4em solid #FF4B5C;
}
[type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #FF4B5C;
}
[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}
[type="text"],[type="password"] {
    padding: 3px;
}

